
<!--  <%#= form_tag(users_path method: :get) do %>
    ID <%#= text_field_tag :id_user , params[:id_user]%>
    <%#= submit_tag 'Search' , name: nil%>
  <%# end %>

  <%# @userrs.each do |user| %>

      <td><%#= user.email %></td>
      <%#end%>-->

  <div class="container">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <div class="stepwizard col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
          <p>Etape 1</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Etape 2</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Etape 3</p>
        </div>
      </div>
    </div>


      <div class="row setup-content" id="step-1">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3> Etape 1</h3>
            <div class="form-group">
              <label class="control-label">ID</label>
              <%= f.text_field :addBY, autofocus: true, class: "form-control", placeholder: "Enter ID" , required: "required" %>
            </div>
<!--            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Last Name" />
            </div>-->
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Suivant</button>
          </div>
        </div>
      </div>
      <div class="row setup-content" id="step-2">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3> Etape 2</h3>
            <div class="form-group">

<!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class: "form-control input-lg", placeholder: "First name" %>
            </div>
            <div class="form-group">

<!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address"  />-->
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "form-control input-lg", placeholder: "Last name" %>
            </div>

            <div class="form-group">

              <!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg", placeholder: "Email" %>
            </div>

            <div class="form-group">
              <%= f.select :sexe, User::SEXE.select {|d| [d[0], d[1]]}, {prompt: "Choisissez votre sexe "}, {class: 'form-control', required: true} %>
            </div>
            <div class="form-group">

              <!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.text_area :address, autofocus: true, autocomplete: "address", class: "form-control input-lg", placeholder: "Addresse" %>
            </div>


            <div class="form-group">

              <!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control input-lg", placeholder: "Téléphone" %>
            </div>

            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères au minimum)</em>
            <% end %><br/>
            <div class="form-group">

              <!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Mot de passe" %>


            </div>

            <div class="form-group">

              <!--              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />-->
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Confirmer le mot de passe" %>
              rand(1256487...52547895234)
            </div>



            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Suivant</button>
          </div>
        </div>
      </div>
      <div class="row setup-content" id="step-3">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3> Step 3</h3>
            <%= f.submit 'Devenir un partenaire', class: "btn btn-success btn-lg pull-right" %>
          </div>
        </div>
      </div>


    <% end %>
  </div>



  <style>
    body {
      background-image: url(<%= asset_path '1.jpg'%>);
      margin-top: 40px;
    }

    .form-control {
      margin-bottom: 10px;
    }

    .colorgraph {
      height: 5px;
      border-top: 0;
      background: #c4e17f;
      border-radius: 5px;
      background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }

    .stepwizard-step p {
      margin-top: 10px;
    }

    .stepwizard-row {
      display: table-row;
    }

    .stepwizard {
      display: table;
      width: 50%;
      position: relative;
    }

    .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0;
    }

    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }

  </style>


<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });

</script>