 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <div class="container">
   <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12">
       <img src="<%= asset_path ('LightHouse.png')%>" class="center-block d-block">
     </div>

   </div>
 </div>
 <br><br>

 <div class="container">
   <div class="stepwizard">
     <div class="stepwizard-row setup-panel">
       <div class="stepwizard-step col-xs-3">
         <a href="#step-1" type="button" class="btn btn-success btn-circle"><span class="	glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
         <p><small>ID</small></p>
       </div>
       <div class="stepwizard-step col-xs-3">
         <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
         <p><small>Informations personnelles</small></p>
       </div>
       <div class="stepwizard-step col-xs-3">
         <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a>
         <p><small>MDP</small></p>
       </div>
       <div class="stepwizard-step col-xs-3">
         <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
         <p><small>Final!</small></p>
       </div>
     </div>
   </div>

   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>
     <div class="panel panel setup-content" id="step-1">
       <div class="panel-heading">
         <h3 class="panel-title">ID</h3>
       </div>
       <div class="panel-body">
         <div class="form-group">
           <label class="control-label">ID</label>
           <%= f.text_field :addBY, autofocus: true, class: "form-control", placeholder: "Entrer ID" , required: "required" %>
         </div>
         <button class="btn btn-spe nextBtn pull-right" type="button">Suivant</button>
       </div>
     </div>

     <div class="panel panel setup-content" id="step-2">
       <div class="panel-heading">
         <h3 class="panel-title">Information personnelle</h3>
       </div>
       <div class="panel-body">
         <div class="form-group">
           <label class="control-label">Prénom</label>
           <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class: "form-control input-lg", placeholder: "Prénom" %>
         </div>
         <div class="form-group">
           <label class="control-label">Nom de famille</label>
           <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "form-control input-lg", placeholder: "Nom de famille" %>
         </div>
         <div class="form-group">
           <label class="control-label">Email</label>
           <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg", placeholder: "Email" %>
         </div>
         <div class="form-group">
           <label class="control-label">Sexe</label>
           <%= f.select :sexe, User::SEXE.select {|d| [d[0], d[1]]}, {prompt: "Choisissez votre sexe "}, {class: 'form-control', required: true} %>
         </div>
         <div class="form-group">
           <label class="control-label">Adresse</label>
           <%= f.text_area :address, autofocus: true, autocomplete: "adress", class: "form-control input-lg", placeholder: "Adresse" %>
         </div>
         <div class="form-group">
           <label class="control-label">Num de téléphone</label>
           <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control input-lg", placeholder: "Téléphone" %>

         </div>
         <button class="btn btn-spe nextBtn pull-right" type="button">Suivant</button>
       </div>
     </div>

     <div class="panel  setup-content" id="step-3">
       <div class="panel-heading">
         <h3 class="panel-title">Mot de passe</h3>
       </div>
       <div class="panel-body">
         <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> caractères au minimum)</em>
         <% end %><br/>
         <div class="form-group">
           <label class="control-label">Mot de passe</label>
           <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Mot de passe" %>
         </div>
         <div class="form-group">
           <label class="control-label">Confirmation du MDP</label>
           <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Confirmer le mot de passe" %>
         </div>
         <button class="btn btn-spe nextBtn pull-right" type="button">Suivant</button>
       </div>
     </div>

     <div class="panel  setup-content" id="step-4">
       <div class="panel-heading">
         <h3 class="panel-title">Final!</h3>
       </div>
       <div class="panel-body">

         <%= f.submit 'Devenir un partenaire', class: "btn btn-spes btn-lg btn-block" %>
       </div>
     </div>
   <%end%>
 </div>



  <style>
    body {
      background: url('http://s.bootply.com/assets/64531/green_suburb.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #333;

      margin-top: 40px;
    }

    .stepwizard-step p {
      margin-top: 0px;
      color: white;
    }

    .stepwizard-row {
      display: table-row;
    }

    .stepwizard {
      display: table;
      width: 100%;
      position: relative;
    }

    .stepwizard-step button[disabled] {
      /*opacity: 1 !important;
      filter: alpha(opacity=100) !important;*/
    }

    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
      opacity: 1 !important;
      color: #bbb;
    }

    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-index: 0;
    }

    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }

    .panel{
      border-color: #26b99a;

    }

    .panel-heading {
      background-image: none;
      background-color: #26b99a;
      border-color: #26b99a;
      color: white;

    }
    .btn-spe{

      background-color: #26b99a;
      border-color: #26b99a;
      color: white;
      border-radius: 0px
    }

    .btn-spes{

      background-color: red;
      border-color: red;
      color: white;
      border-radius: 0px
    }

  </style>


<script>
    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                $item.addClass('btn-success');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-success').trigger('click');
    });

</script>