<%#= link_to "Back", users_path, class: 'btn btn-warning'%>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Activé le compte du <%=@user.last_name%> <%=@user.first_name%> </h2>


      <div class="clearfix"></div>
    </div>


    <%= form_tag(users_activations_path, {:method => :post}) do %>
      <%= hidden_field_tag :id, @user.id %>
<!--  <div class="form-group">
    <%#= f.label "Activé" %>
    <%#= f.check_box :activate %>
  </div>-->


  <div class="form-group">
    <%= label_tag :beneath,"Listes" %>
    <%= select_tag :beneath, options_for_select(@userlist.map {|d|[ d.last_name,d.randomID ]}) , {prompt: "Au-dessous  " , class: 'form-control', required: true} %>
  </div>


  <div class="form-group">
    <%= label_tag :side, "Position" %>
    <%= select_tag :side, options_for_select( User::SIDE.select {|d| [ d[0],d[1] ]}) , { prompt: "Choisissez le placement " , class: 'form-control', required: true} %>
  </div>



  <div class="form-group actions">
    <%= submit_tag 'Submit', :class => 'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>

  </div>
</div>