
<%#= link_to "Back", users_path, class: 'btn btn-warning'%>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Réinitialiser mon mot de passe</h2>


      <div class="clearfix"></div>
    </div>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label "Nouveau mot de passe" %>
      <%= f.password_field :password , class: 'form-control', placeholder: 'Enter nouveau mot de passe...', required: true %>
    </div>

    <div class="form-group">
      <%= f.label "Confirmer le ouveau mot de passe" %>
      <%= f.password_field :password_confirmation , class: 'form-control', placeholder: 'Confirmer le ouveau mot de passe...', required: true %>
    </div>

    <div class="form-group actions">
      <%= f.submit 'Réinitialiser', :class => 'btn btn-lg btn-success btn-block' %>
    </div>
<% end %>
  </div>
</div>