<%if current_user.activate == 1 %>
<div class="row tile_count">
  <div class="col-md-3 col-sm-5 col-xs-7 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> ID du partenaire </span>
    <div class="count green"><%= @user.randomID%></div>
<!--    <span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-group"></i> Total</span>
    <div class="count"><%=@l+@r%></div>
<!--    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total a Gauche</span>
    <div class="count "><%=@l%></div>
<!--    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total a droite</span>
    <div class="count"><%=@r%></div>
<!--    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> E-Bank</span>
    <div class="count"><%=number_with_delimiter(@user.points, delimiter: '  ')%></div>
<!--    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
  </div>

</div>
<%end%>

<div class="">


  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="<%= @user.image.url(:medium) %>" alt="Avatar" title="Change the avatar">
              </div>
            </div>
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>

            <ul class="list-unstyled user_data">
              <li><i class="fa fa-map-marker user-profile-icon"></i> <%= @user.address %>, <%= @user.country %>
              </li>

              <li class="m-top-xs">
                <i class="fa fa-envelope-square user-profile-icon"></i>
                <a ><%= @user.email %></a>
              </li>
            </ul>

<!--            <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>-->
            <%if current_user == @user || current_user.role == "admin" %>
            <%= link_to "Modifier mon compte", edit_user_path(@user), class: 'btn btn-success' %>
            <%= link_to "Refaire mon password", "/users/reset_password/#{@user.id}", class: 'btn btn-info' %>
            <br/>
            <%end%>

          </div>


          <div class="col-md-9 col-sm-9 col-xs-12">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Informations personnelles</a>
                </li>
                <li role="presentation" class="">
                  <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Informations de livraison</a>
                </li>
                <li role="presentation" class="">
                  <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                    aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher retro keffiyeh dreamcatcher
                    synth. Cosby sweater eu banh mi, qui irure terr.</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                    loko farm-to-table craft beer twee. Qui photo
                    booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                  <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                    loko farm-to-table craft beer twee. Qui
                    photo booth letterpress, commodo enim craft beer mlkshk </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
