<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">


        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row" style="margin-top:20px">


                <fieldset>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <img src="<%= asset_path ('LightHouse.png') %>" class="center-block d-block" style="
                        width: 300px;">
                      </div>

                    </div>
                  </div>
                  <br>
<!--                  <hr class="colorgraph">-->
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control input-lg" %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control input-lg" %>
                  </div>
                  <span class="button-checkbox">
        					<% if devise_mapping.rememberable? -%>
        					    <div class="field">
        					      <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
        					    </div>
        					  <% end -%>

        				</span>
<!--                  <hr class="colorgraph">-->
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <%= link_to  new_user_registration_path, class: "btn btn-lg btn-primary btn-block" do  %>
                        <i class="glyphicon glyphicon-pencil"></i> S'inscrire
                      <%end%>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <%= f.submit "S'identifier", class: "btn btn-lg btn-success btn-block" %>

                    </div>
                  </div>
                </fieldset>



          </div>

          <%= link_to "J'ai oublié mon mot de passe ?", new_user_password_path %><br/>

          <%#= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %><br/>
        <% end %>

      </div>

    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="jumbotron hero">

    <br>
    <br>
    <br>
    <br>
    <div class="text-center hero-row">
      <h1 class="heading">  </h1>

      <br><br><br><br><br><br><br><br><br><br>
      <div class="btn-group">
        <a class="btn2" href=<%= new_user_registration_path %>>Sign up</a>
        <a class="btn2" href="#" type="button" data-toggle="modal" data-target="#myModal">Log in</a>
      </div>
    </div>
    <div class="row header-features text-center hero-row hero-bottom">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span class="glyphicon glyphicon-pencil"></span>
        <div>
          <h3>Grand titre</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet pulvinar laoreet. Curabitur nec rhoncus sapien, congue pretium justo. Aenean erat risus, pulvinar et volutpat.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span class="glyphicon glyphicon-cloud"></span>
        <div>
          <h3>Grand titre</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet pulvinar laoreet. Curabitur nec rhoncus sapien, congue pretium justo. Aenean erat risus, pulvinar et volutpat.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span class="glyphicon glyphicon-pencil"></span>
        <div>
          <h3>Grand titre</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet pulvinar laoreet. Curabitur nec rhoncus sapien, congue pretium justo. Aenean erat risus, pulvinar et volutpat.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
    </div>
    <div class="row" style="margin-right: 0px;">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://web.facebook.com/seifeddine.n?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook"></i></a></li>
<!--          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->
          <li class="list-inline-item"><a href="https://plus.google.com/101187218410034999507" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/seif-eddine-nouara-b2b8b5a7" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>

    </div>
    <div class="row" style="margin-right: 0px;">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="#"> <img src="<%= asset_path ('LightHouse_logo.png') %>" style="height: 18px; width: 18px; margin-bottom: 6px"> LITGHTHOUSE </a></u>- Multi level marketing site by Seif Eddine N</p>
        <p class="h6">&copy All right Reversed. <a class="text-green ml-2" href="#" target="_blank"> LightHouse</a></p>
      </div>
      </div>
  </div>
</section>

<style>
  .btn2 {
    display: inline-block;
    background: transparent;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border-radius: 0;
    padding: 10px 80px 10px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to right, #2b5876 0%, #ce1010 51%, #2b5876 100%);

    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;


  }

  .btn2:hover {
    color: #fff;
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: right center;
  }
  html, body {
    background-color: #fcfcfc;
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  header, section, footer, aside, nav, main, article, figure {
    display: block;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .navbar-header > div > span {
    font-size: 32px;
    color: #fcfcfc;
  }

  .navbar-header > div > span:hover {
    cursor: pointer;
  }



  .navbar-nav a {
    color: #fcfcfc;
    font-size: 14px;
  }



  .jumbotron.hero {
    color: #fcfcfc;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(<%= asset_path '1.png'%>);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    border-radius: 0;
  }

  .jumbotron.hero .heading {
    font-weight: 900;
  }

  .jumbotron.hero .heading > span {
    color: #5499C7;
  }

  .jumbotron.hero .subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #5499C7;
  }

  .header-features {
    padding: 10px;
  }

  .header-features > div {
    padding: 0 50px;
  }

  .header-features > div > div {
    border-left: 1px solid #2874A6;
    border-right: 1px solid #2874A6;
  }

  .header-features > div > span {
    font-size: 32px;
  }

  .header-features p {
    font-size: 14px;
  }

  .hero-row {
    display: table-row;
  }

  .hero-row.hero-bottom {
    display: table-cell;
    vertical-align: bottom;
  }

  /* Footer */
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  section {
    padding: 25px 0;
  }

  #footer {
    background: linear-gradient(to right, #2b5876 0%, #ce1010 51%, #2b5876 100%); !important;

  }

  #footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
  }

  #footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  #footer ul.social li {
    padding: 3px 0;
  }

  #footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  #footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
  }

  #footer ul.social li a,
  #footer ul.quick-links li a {
    color: #ffffff;
  }

  #footer ul.social li a:hover {
    color: #eeeeee;
  }

  #footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  #footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
  }

  #footer ul.quick-links li a i {
    margin-right: 5px;
  }

  #footer ul.quick-links li:hover a i {
    font-weight: 700;
  }

  @media (max-width: 767px) {
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
  }

  .alert {

    border-radius: 0px;

  }
  .btn,.modal-content {
    border-radius: 0px;

  }

</style>



