// AdLocation model

function AdLocation(ad_location_json, form_authenticity_token) {

    this.id           = ad_location_json.id;
    this.name         = ad_location_json.name;
    this.reload_rate  = ad_location_json.reload_rate * 1000;
    this.kind         = ad_location_json.kind;
    this.form_authenticity_token = form_authenticity_token;

    this.is_visual = function() {
        return (this.kind ==  "AdLocation::Visual");
    };

    this.is_sponsored = function() {
        return (this.kind ==  "AdLocation::SponsoredLinks");
    };

    this.is_firm_visual = function() {
        return (this.kind ==  "AdLocation::FirmVisual");
    };

    this.element = function() {
        return $("#ad_location_" + this.name);
    };

    this.reload = function() {

        var ad_location = this;

        // Add keyword as criteria of search, this is
        // important as the new visual is determined by keyword first.
        var keyword_match = location.search.match(/keywords.+=([^&]+)/);

        if(Object.prototype.toString.call( keyword_match ) === '[object Array]'){
            keyword_match = keyword_match[1];
        }


        $.ajax({
            url: "/particle/reload/" + this.id,
            type: 'GET',
            data: {authenticity_token: this.form_authenticity_token, 'category_ids[]': this.categories, 'keywords': decodeURIComponent(keyword_match)},
            success: function(data, status) {
                if (ad_location.is_visual()) {
                    var campaign = new Campaign(data.campaign);
                    campaign.ad_location = ad_location;
                    campaigns_controller.show(campaign);
                } else if (ad_location.is_sponsored()) {
                    campaigns_controller.index(data, ad_location);
                }
            },
            dataType: "json"
        });
    };

};

// Campaign model

function Campaign(campaign_json) {
    this.id                   = campaign_json.id;
    this.public_filename      = campaign_json.public_filename;
    this.width                = campaign_json.width;
    this.height               = campaign_json.height;
    this.link_url             = campaign_json.link_url;
    this.announcer            = campaign_json.announcer;
    this.commercial_message   = campaign_json.commercial_message;

    this.is_image = function() {
        return (this.public_filename.indexOf(".swf") == -1);
    };

    this.attachment = function() {

        if (this.ad_location.is_visual()) {
          if (this.public_filename.endsWith('.zip'))
          {
            return this.attachment_for_html();
          }
          else
          {
            return this.attachment_for_visual();
          }
        } else if (this.ad_location.is_sponsored()) {
            if (this.ad_location.name == "between")
            {
                return this.attachment_for_visual();
            }
            else
            {
                return this.attachment_for_sponsored();
            }
        } else if (this.ad_location.is_firm_visual()) {
            return this.attachment_for_visual();
        }

    };

    this.attachment_for_html = function() {

      var campaign = this;
      var ifrm = document.createElement("iframe");
      ifrm.setAttribute("src", "<%=ARUNAURL%>/particles/" + campaign.id + "/");
      ifrm.setAttribute("scrolling", "no");
      ifrm.setAttribute("width", campaign.width);
      ifrm.setAttribute("height", campaign.height);
      ifrm.style.border = 'none';
      return ifrm;
    };
    this.attachment_for_visual = function() {

      var campaign = this;
      var link = $(document.createElement("a"));
      link.attr('href', "<%=ARUNAURL%>/campaigns/" + campaign.id + "/click");
      link.attr('target', '_blank');

      if (this.is_image()) {
        link.append(this.image_attachment());
        return link;
      } else {
        return this.flash_placeholder();
      }

    };

    this.attachment_for_sponsored = function() {

        var campaign = this;
        var attachment = $(document.createElement("p"));
        attachment.addClass('campaign');

        var announcer_link = $(document.createElement("a"));
        announcer_link.attr('target', '_blank');

        announcer_link.attr('href', '<%=ARUNAURL%>/campaigns/' + campaign.id + "/click");
        announcer_link.html(this.announcer.usual_corporate_name);

        var commercial_message = $(document.createElement("span"));
        commercial_message.html(this.commercial_message);

        var firm_page_link = $(document.createElement("a"));
        firm_page_link.addClass('sponsored_firm_page_link');
        firm_page_link.attr('href', '<%=ARUNAURL%>/firms/' + this.announcer.public_id);
        firm_page_link.html('Voir la fiche détaillée');

        attachment.append(announcer_link).append("<br />").append(commercial_message).append(firm_page_link);
        return attachment;
    };

    this.image_attachment = function() {
        var img = $(document.createElement("img"));
        img.attr('alt', this.announcer.usual_corporate_name);
        img.attr('src', '<%=ARUNAURL%>'+this.public_filename);
        return img;
    };

    this.flash_placeholder = function() {
        return $('<div id="campaign_' + this.id + '"></div>');
    };

    this.firm_visual_element = function() {
        return $("#firm_" + this.announcer.public_id + " .campaign.firm_visual");
    };

};

// Controller

var ad_locations_controller = {

    show: function(ad_location) {


        if (ad_location.is_visual()) {
            var ad_location_element = $(document.createElement("div"));
            ad_location_element.addClass('ad_location').addClass(ad_location.name).attr("id", "ad_location_" + ad_location.name);
            ad_location_element.addClass('visual');/*
             } else if (ad_location.is_sponsored()) {
             ad_location_element.addClass('sponsored');
             }

             if (ad_location.is_sponsored()) {
             if (ad_location.campaigns.length > 0)
             $('script#ad_location_src_' + ad_location.name).after(ad_location_element);
             } else {/**/
            $('script#ad_location_src_' + ad_location.name).after(ad_location_element);/*
             }

             if (ad_location.is_visual()) {*/
            var campaign = new Campaign(ad_location.campaigns.campaign);
            campaign.ad_location = ad_location;
            campaigns_controller.show(campaign);
        } else if (ad_location.is_sponsored()) {
            campaigns_controller.index(ad_location.campaigns, ad_location);
        }

        // to avoid cycle references
        ad_location.campaigns = null;

        if (ad_location.is_visual() && ad_location.reload_rate) {
            setInterval(function() {
                ad_location.reload();
            }, ad_location.reload_rate);
        }
    }

};

var campaigns_controller = {

    index: function(campaigns_json, ad_location){

        if (ad_location.name == "between"){
            ad_location_elements = $('.inbetween');

            //if (ad_location.is_sponsored()) {
            //  var title = $(document.createElement("span"));
            //  title.addClass('title');
            //  title.html('Liens Sponsorisés');
            //  ad_location_element.append(title);
            //}

            $.each(ad_location_elements, function(index, ad_location_element) {
                var i = index % campaigns_json.length;
                var campaign_json = campaigns_json[i];
                var campaign = new Campaign(campaign_json.campaign);
                campaign.ad_location = ad_location;
                ad_location_element.append(campaign.attachment()[0]);
            });

        }
        else
        {
            var ad_location_element = $(document.createElement("div"));
            ad_location_element.addClass('ad_location').addClass(ad_location.name).attr("id", "ad_location_" + ad_location.name);
            ad_location_element.addClass('sponsored');
            ad_location_element = ad_location.element();
            ad_location_element.empty();

            //if (ad_location.is_sponsored()) {
            //  var title = $(document.createElement("span"));
            //  title.addClass('title');
            //  title.html('Liens Sponsorisés');
            //  ad_location_element.append(title);
            //}

            $.each(campaigns_json, function(index, campaign_json) {
                var campaign = new Campaign(campaign_json.campaign);
                campaign.ad_location = ad_location;
                ad_location_element.append(campaign.attachment());
            });

        }

    },

    show: function(campaign) {

        if (campaign.ad_location.is_visual() || campaign.ad_location.is_sponsored()) {
            var ad_location_element = campaign.ad_location.element();
            ad_location_element.empty();

            var campaign_attachment = campaign.attachment();
            ad_location_element.append(campaign_attachment);

            // we must call swfobject.embedSWF AFTER appending the placeholder element in the ad_location
            // or the flash won't show up

            var flashvars, attributes = {};
            var params = {wmode: "transparent"};

            if (!campaign.is_image()) {
                swfobject.embedSWF('<%= ARUNAURL%>'+campaign.public_filename, campaign_attachment.attr('id'), campaign.width, campaign.height, "9.0.0", "expressInstall.swf", flashvars, params, attributes);
            }

        } else if (campaign.ad_location.is_firm_visual()) {
            campaign.firm_visual_element().append(campaign.attachment());

            if (!campaign.is_image()) {
                swfobject.embedSWF('<%=ARUNAURL%>'+campaign.public_filename, 'campaign_' + campaign.id, campaign.width, campaign.height, "9.0.0", "expressInstall.swf", flashvars, params, attributes );
            }
        }
    }

};