
<div class="row tile_count">

  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total a Gauche</span>
    <div class="count green"><%= @l %></div>
    <!--    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-group"></i> Total</span>
    <div class="count green"><%= @l + @r %></div>
    <!--    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total a droite</span>
    <div class="count green"><%= @r %></div>
    <!--    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
  </div>

</div>



<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Mon arbre</h3>
    </div>
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <% if !current_user.account %>
          <div class="tree">
            <ul>
              <li>
                <a href="<%= user_path(@user.id) %>">
                  <img src="<%= @user.image.url %>" alt="..." class="profile_arbre" width="50px">
                </a>
                <ul>
                  <li>
                    <% if @usertoshowl %>
                      <a href="<%= "/users/#{@usertoshowl.id}" %>"><img src="<%= @usertoshowl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                    <% else %>
                      <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                    <% end %>
                    <ul>
                      <li>
                        <% if @usertoshowll %>
                          <a href="<%= "/users/#{@usertoshowll.id}" %>"><img src="<%= @usertoshowll.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                        <% else %>
                          <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                        <% end %>
                        <ul>
                          <li>
                            <% if @usertoshowlll %><a href="<%= "/users/#{@usertoshowlll.id}" %>"><img src="<%= @usertoshowlll.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                          <li>
                            <% if @usertoshowllr %><a href="<%= "/users/#{@usertoshowllr.id}" %>"><img src="<%= @usertoshowllr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <% if @usertoshowlr %>
                          <a href="<%= "/users/#{@usertoshowlr.id}" %>"><img src="<%= @usertoshowlr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                        <% else %>
                          <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                        <% end %>
                        <ul>
                          <li>
                            <% if @usertoshowlrl %><a href="<%= "/users/#{@usertoshowlrl.id}" %>"><img src="<%= @usertoshowlrl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                          <li>

                            <% if @usertoshowlrr %><a href="<%= "/users/#{@usertoshowlrr.id}" %>"><img src="<%= @usertoshowlrr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>

                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <% if @usertoshowr %>
                      <a href="<%= "/users/#{@usertoshowr.id}" %>"><img src="<%= @usertoshowr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                    <% else %>
                      <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                    <% end %>
                    <ul>
                      <li>
                        <% if @usertoshowrl %>
                          <a href="<%= "/users/#{@usertoshowrl.id}" %>"><img src="<%= @usertoshowrl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                        <% else %>
                          <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                        <% end %>
                        <ul>
                          <li>
                            <% if @usertoshowrll %><a href="<%= "/users/#{@usertoshowrll.id}" %> "><img src="<%= @usertoshowrll.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                          <li>
                            <% if @usertoshowrlr %><a href="<%= "/users/#{@usertoshowrlr.id}" %>"><img src="<%= @usertoshowrlr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <% if @usertoshowrr %><a href="<%= "/users/#{@usertoshowrr.id}" %>"><img src="<%= @usertoshowrr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                        <% else %>
                          <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                        <% end %>
                        <ul>
                          <li>
                            <% if @usertoshowrrl %><a href="<%= "/users/#{@usertoshowrrl.id}" %>"><img src="<%= @usertoshowrrl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                          <li>
                            <% if @usertoshowrrr %><a href="<%= "/users/#{@usertoshowrrr.id}" %>"><img src="<%= @usertoshowrrr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                            <% else %>
                              <img src="<%= asset_path 'default-profile' %>" alt="..." class="profile_arbre" width="50px">
                            <% end %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% else %>
          <div style="overflow-y: scroll" ;>
            <div class="tree">
              <ul>
                <li>
                  <a href="<%= "/users/#{@user.id}" %>"><%= @user.last_name %> <%= @user.first_name %>
                    <img src="<%= @user.image.url %>" alt="..." class="profile_arbre" width="50px">
                  </a>
                  <ul>
                    <li><a>Compte 1</a>
                      <ul>
                        <li>
                          <% if @usertoshowl %><a><%= @usertoshowl.last_name %> <%= @usertoshowl.first_name %>
                          <img src="<%= @usertoshowl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                          <% else %>Compte n'existe pas
                          <% end %>
                          <ul>
                            <li>
                              <% if @usertoshowll %><a><%= @usertoshowll.last_name %></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowlll %><a><%= @usertoshowlll.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowllr %><a><%= @usertoshowllr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <% if @usertoshowlr %><a><%= @usertoshowlr.last_name %> <%= @usertoshowlr.first_name %>
                              <img src="<%= @usertoshowlr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowlrl %><a><%= @usertoshowlrl.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>

                                  <% if @usertoshowlrr %><a><%= @usertoshowlrr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>

                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <% if @usertoshowr %><a><%= @usertoshowr.last_name %> <%= @usertoshowr.first_name %>
                          <img src="<%= @usertoshowr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                          <% else %>Compte n'existe pas
                          <% end %>
                          <ul>
                            <li>
                              <% if @usertoshowrl %><a><%= @usertoshowrl.last_name %> <%= @usertoshowrl.first_name %>
                              <img src="<%= @usertoshowrl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowrll %><a><%= @usertoshowrll.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowrlr %><a><%= @usertoshowrlr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <% if @usertoshowrr %><a><%= @usertoshowrr.last_name %></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowrrl %><a><%= @usertoshowrrl.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowrrr %><a><%= @usertoshowrrr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a>Compte 2</a>
                      <ul>
                        <li>
                          <% if @usertoshowl %><a><%= @usertoshowl.last_name %> <%= @usertoshowl.first_name %>
                          <img src="<%= @usertoshowl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                          <% else %>Compte n'existe pas
                          <% end %>
                          <ul>
                            <li>
                              <% if @usertoshowll %><a><%= @usertoshowll.last_name %></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowlll %><a><%= @usertoshowlll.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowllr %><a><%= @usertoshowllr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <% if @usertoshowlr %><a><%= @usertoshowlr.last_name %> <%= @usertoshowlr.first_name %>
                              <img src="<%= @usertoshowlr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowlrl %><a><%= @usertoshowlrl.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>

                                  <% if @usertoshowlrr %><a><%= @usertoshowlrr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>

                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <% if @usertoshowr %><a><%= @usertoshowr.last_name %> <%= @usertoshowr.first_name %>
                          <img src="<%= @usertoshowr.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                          <% else %>Compte n'existe pas
                          <% end %>
                          <ul>
                            <li>
                              <% if @usertoshowrl %><a><%= @usertoshowrl.last_name %> <%= @usertoshowrl.first_name %>
                              <img src="<%= @usertoshowrl.image.url %>" alt="..." class="profile_arbre" width="50px"></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowrll %><a><%= @usertoshowrll.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowrlr %><a><%= @usertoshowrlr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <% if @usertoshowrr %><a><%= @usertoshowrr.last_name %></a>
                              <% else %>Compte n'existe pas
                              <% end %>
                              <ul>
                                <li>
                                  <% if @usertoshowrrl %><a><%= @usertoshowrrl.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                                <li>
                                  <% if @usertoshowrrr %><a><%= @usertoshowrrr.last_name %></a>
                                  <% else %>Compte n'existe pas
                                  <% end %>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>

                  </ul>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
</div>
    </div>
  </div>
</div>
  </div>
</div>


