

<% products.in_groups_of(4) do |group| %>

  <div class="row">
    <% group.each do |product| %>
      <div class="col-md-3">
        <%if product%>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="<%=product.img.url if product%>" class="img-responsive" >
            <div>
              <a <%= link_to "Voir détails", product , class:"btn"%></a>
            </div>
          </div>
          <h3><i><b><%=product.name if product%></b></i></h3>
          <div class="pi-price"><%=product.price if product%> DZD</div>

          <div class="sticker sticker-new"></div>
        </div>
          <%end%>
      </div>
    <%end%>
  </div>
<%end%>

<%= will_paginate products %>