<p id="notice"><%= notice %></p>

<h1>Nos Produits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>







  <% @products.in_groups_of(3) do |group| %>

  <div class="row">
    <% group.each do |product| %>
    <div class="col-md-4">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <img src="<%=product.img.url if product%>" class="img-responsive" >
          <div>
            <a <%= link_to 'Show', product , class:"btn"%></a>
          </div>
        </div>
        <h3><a ><%=product.name if product%></a></h3>
        <div class="pi-price"><%=product.price if product%> DZD</div>
<!--        <a href="javascript:;" class="btn add2cart">Add to cart</a>-->
        <div class="sticker sticker-new"></div>
      </div>
    </div>
    <%end%>
  </div>
    <%end%>
 <!--    <div class="col-md-4">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
          <div>
            <a href="#" class="btn">Zoom</a>
            <a href="#" class="btn">View</a>
          </div>
        </div>
        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
        <div class="pi-price">$29.00</div>
        <a href="javascript:;" class="btn add2cart">Add to cart</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
          <div>
            <a href="#" class="btn">Zoom</a>
            <a href="#" class="btn">View</a>
          </div>
        </div>
        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
        <div class="pi-price">$29.00</div>
        <a href="javascript:;" class="btn add2cart">Add to cart</a>
      </div>
    </div>-->



<style>

  /***
  User Profile Sidebar by @keenthemes
  A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
  Licensed under MIT
  ***/


  .product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
  }

  .product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
  }

  .product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }

  .sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
  }

  .sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
  }

  .pi-img-wrapper {
    position: relative;
  }

  .pi-img-wrapper div {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .product-item:hover > .pi-img-wrapper > div {
    display: block;
  }

  .pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
  }

  .product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
  }

  .product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
  }

  .product-item h3 a {
    color: #3e4d5c;
  }

  .product-item h3 a:hover {
    color: #E02222;
  }

  .pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
  }

  .product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
  }

  .product-item .add2cart:hover {
    color: #fff;
    background: #e84d1c;
    border-color: #e84d1c;
  }
</style>




