<%if current_user.role == "admin"%>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Produits et services </h2> <h2> | </h2> <%= link_to 'Nouveau produit', new_product_path ,class:"btn btn-primary"%>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Raison</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category%></td>
            <td><%= link_to 'Show', product, class:"btn btn-primary" %>
            <%= link_to 'Edit', edit_product_path(product) ,class:"btn btn-default"%>
            <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>
<%end%>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">

<a href="<%= new_sale_path%>" class="btn btn-default btn-lg btn3d pull-right">
  <i class="fa fa-shopping-cart"></i> Faire une commande
</a>
</div>
</div>

 <!--    <div class="col-md-4">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
          <div>
            <a href="#" class="btn">Zoom</a>
            <a href="#" class="btn">View</a>
          </div>
        </div>
        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
        <div class="pi-price">$29.00</div>
        <a href="javascript:;" class="btn add2cart">Add to cart</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
          <div>
            <a href="#" class="btn">Zoom</a>
            <a href="#" class="btn">View</a>
          </div>
        </div>
        <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
        <div class="pi-price">$29.00</div>
        <a href="javascript:;" class="btn add2cart">Add to cart</a>
      </div>
    </div>-->

<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Nos produits</h1>
    </div>

    <div align="center">
      <%= render 'sidebar_menu' %>
    </div>
    <br/>

    <%= render partial: 'item_grid', locals: {products: @products2} %>

  </div>
</div>




<style>

  /***
  User Profile Sidebar by @keenthemes
  A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
  Licensed under MIT
  ***/


  .product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
  }

  .product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
  }

  .product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }

  .sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
  }

  .sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
  }

  .pi-img-wrapper {
    position: relative;
  }

  .pi-img-wrapper div {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .product-item:hover > .pi-img-wrapper > div {
    display: block;
  }

  .pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
  }

  .product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
  }

  .product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
  }

  .product-item h3 a {
    color: #3e4d5c;
  }

  .product-item h3 a:hover {
    color: #E02222;
  }

  .pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
  }



  .gallery-title
  {
    font-size: 36px;
    color: #73879c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
  }
  .gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
  }
  .filter-button
  {
    font-size: 18px;
    border: 1px solid #73879c;
    border-radius: 5px;
    text-align: center;
    color: #73879c;
    margin-bottom: 30px;

  }
  .filter-button:hover
  {
    font-size: 18px;
    border: 1px solid #73879c;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #73879c;

  }
  .btn-default:active .filter-button:active
  {
    background-color: #73879c;
    color: white;
  }

  .port-image
  {
    width: 100%;
  }

  .gallery_product
  {
    margin-bottom: 30px;
  }


</style>


<style>
  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }

  .btn3d:active, .btn3d.active {
    top: 2px;
  }


  .btn3d.btn-default {
    color: #73879c;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0, 0, 0, .2);
    background-color: #f9f9f9;
  }

  .btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #73879c;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
    background-color: #f9f9f9;
  }



</style>
