<%= link_to 'Modifier la commande', edit_sale_path(@sale) ,class:"btn btn-primary"%> |
<%= link_to 'Back', sales_path ,class:"btn btn-warning"%> |
<a class="btn btn-success" data-toggle="modal" href="#betaModal">Ajouter des produits </a>
<div id="betaModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3 class="text-center">Produits & Services</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_tag(saleproducts_create_path, {method: :post}) do %>


            <% @products.in_groups_of(4) do |group| %>

              <div class="row">
                <% group.each do |product| %>
                  <div class="col-md-3">
                    <%if product%>
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <img src="<%=product.img.url if product%>" class="img-responsive" >
                        <div>
                          <a <%= link_to "Voir détails", product , class:"btn"%></a>
                        </div>
                      </div>
                      <h3><i ><b><%=product.name if product%></b></i></h3>
                      <div class="pi-price"><%=product.price if product%> DZD</div>
                      <%= form_for @sale_item do |f| %>
                        <%= f.hidden_field :sale_id, value: @sale.id %>

                        <%=  f.hidden_field :product_id, value: product.id if product%>

                        <%= f.number_field :quantity, class:"form-control" %>
                        <br>
                        <%= f.submit "+ Ajouter", class: "btn add2cart" %>
                      <% end %>
                      <div class="sticker sticker-new"></div>
                    </div>
                    <%end%>
                  </div>
                <%end%>
              </div>
            <%end%>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div role="main">
  <div class="">


    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Commande pour le client "<%=@sale.contact_name%>"</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <section class="content invoice">
              <!-- title row -->
              <div class="row">
                <div class="col-xs-12 invoice-header">
                  <h1>
                    <i class="fa fa-globe"></i> Commande.
                    <small class="pull-right">Date: <%= @sale.date %></small>
                  </h1>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  De la part de :
                  <address>
                    <strong>Light-House .</strong>
                    <br>795 Setif, rue 600
                    <br>Algerie, CA 94107
                    <br>Telephone: XXXXXXX
                    <br>Email: nimportkoi@admin.com
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  Pour (Mr/Mm/Melle)
                  <address>
                    <strong><%= @sale.contact_name%></strong>
                    <br>Information client
                    <br>Information client
                    <br>Information client
                    <br>Information client
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Commande Num <%= @sale.id%></b>
                  <br>
                  <br>
                  <b>Faite par:</b> <%= @sale.user.first_name %> <%= @sale.user.last_name %>
                  <br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-xs-12 table">
                  <table class="table table-striped">
                    <tr>
                      <th>Produit</th>
                      <th>Quantité</th>
                      <th>prix</th>
                      <th>partial price</th>
                      <th>Modifier quantité</th>
                      <th>Action</th>
                    </tr>
                    <tbody>
                    <% @ven_pros.each {|s| %>
                      <tr>
                        <td><%= s.product.name %></td>
                        <td><%= s.quantity %></td>
                        <td><%= s.price %> DZD</td>
                        <td><%= s.price * s.quantity %> DZD</td>
                        <td><%= link_to ' - ', "/sale_products/#{params[:id]}/decrement/#{s.id};", class: "btn btn-md btn-danger" %>
                          <%= link_to ' + ', "/sale_products/#{params[:id]}/increment/#{s.id};", class: "btn btn-md btn-primary" %></td>
                        <td><%= link_to 'Supprimer', "/sale_products/#{params[:id]}/destroy/#{s.id};", data: {confirm: 'Are you sure?'}, class: "btn btn-md btn-danger" %>
                        </td>
                      </tr>

                    <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                  <p class="lead">Description:</p>

                  <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    Description Description Description Description Description Description Description v v Description.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">

                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <th style="width:50%">Total:</th>
                        <td><%=@sale.total_price%> DZD</td>
                      </tr>
                      <tr>
                        <th>Tax (14%)</th>
                        <td><%=(@sale.total_price.to_i * 14)/ 100%> DZD</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td><%= ((@sale.total_price.to_i * 14)/ 100) + @sale.total_price%> DZD</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-xs-12">
                  <%= link_to 'Génerer un PDF' ,"",class:"btn btn-primary pull-right",onclick:"passvar()"%>
                  <%= link_to ' Envoyer ', "/send/#{params[:id]}/sell", class: "btn btn-md btn-success pull-right"%>

                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<style>

  /***
  User Profile Sidebar by @keenthemes
  A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
  Licensed under MIT
  ***/


  .product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
  }

  .product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
  }

  .product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }

  .sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
  }

  .sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
  }

  .pi-img-wrapper {
    position: relative;
  }

  .pi-img-wrapper div {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .product-item:hover > .pi-img-wrapper > div {
    display: block;
  }

  .pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
  }

  .product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
  }

  .product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
  }

  .product-item h3 a {
    color: #3e4d5c;
  }

  .product-item h3 a:hover {
    color: #E02222;
  }

  .pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
  }

  .product-item .add2cart {
    float: left;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
  }

  .product-item .add2cart:hover {
    color: #fff;
    background: #e84d1c;
    border-color: #e84d1c;
  }
</style>
<script>
    function passvar() {
        window.location = '/sales/<%=@sale.id%>.pdf';
    }
</script>