<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'LightHouse_logo.png' %>
    <%= stylesheet_link_tag 'nprogress' %>
    <%= stylesheet_link_tag 'font-awesome' %>
    <%= stylesheet_link_tag 'icheck/flat/green' %>
    <%= stylesheet_link_tag 'pnotify.css' %>
    <%= stylesheet_link_tag 'pnotify.buttons' %>
    <%= stylesheet_link_tag 'pnotify.nonblock' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>LightHouse</title>

  </head>


  <% if user_signed_in?%>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%= render partial: 'layouts/shared/leftnav' %>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <%= render partial: 'layouts/shared/topnav' %>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <%= render partial: 'layouts/shared/footer' %>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <%= javascript_include_tag 'gentelella-custom'%>

    <!-- iCheck -->
    <%= javascript_include_tag 'icheck' %>
    <!-- PNotify -->
    <%= javascript_include_tag 'pnotify.js' %>
    <%= javascript_include_tag 'pnotify.buttons' %>
    <%= javascript_include_tag 'pnotify.nonblock' %>

    </body>

  <%else%>
  <script>

      function init_PNotify() {
          console.log('init_PNotify');

          <% flash.each do |key, value| %>

          new PNotify({
              title: '  <%=value%>' ,
              type:  '<%=key%>',
              hide: false,
              styling: 'bootstrap3'
          });

          <%end%>

      }




  </script>

    <%= yield %>
  <%= javascript_include_tag 'gentelella-custom'%>
  <!-- iCheck -->
  <%= javascript_include_tag 'icheck' %>
  <!-- PNotify -->
  <%= javascript_include_tag 'pnotify.js' %>
  <%= javascript_include_tag 'pnotify.buttons' %>
  <%= javascript_include_tag 'pnotify.nonblock' %>
  <%end%>

</html>
